/* Use grid for main layout. Two columns: Nav bar and Content */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

div {
    /* border: 1px solid; */
}

.nav ul {
    list-style: none;
}

.nav ul li {
    padding: 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
    /* border: 1px solid; */
}

#profile-image-big img {
    height: 52px;
    width: 52px;
    border-radius: 50%;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: #0ea5e9;
    color: white;
    display: grid;
}

.sidebar li img {
    height: 26px;
    width: auto;
}

.sidebar li {
    display: flex;
    align-items: center;
    /* font-weight: bold; */
    font-size: 20px;
}

.sidebar ul {
    padding-right: 40px;
    margin-left: -20px;
}

#main-logo {
    font-size: 36px;
}

#main-logo img {
    height: 42px;
    width: auto;
}


.nav h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos {
    padding-right: 20px;
}

.header {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.header-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 20px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile * {
    margin-right: 15px;
}

.project-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.welcome {
    font-size: 20px;
    font-weight: bold;
}

.welcome #welcome-name {
    font-size: 32px;
}



.project-btns * {
    margin-right: 20px;
    border-radius: 15%;
    width: 100px;
    height: 30px;
    background-color: #0ea5e9;

    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.searchbar {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

input {
    background-color: #e2e8f0;
}

.searchbar-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar-left input {
    display: flex;
    flex: auto;
    border-radius: 10px;
}

.searchbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.searchbar-right * {
    margin-right: 10px;
}

#notifications img {
    height: 25px;
    width: auto;
}

#profile-image-small img {
    height: 40px;
    width: 40px;
}

#profile-image-small {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    overflow-clip-margin: content-box;
    overflow: clip;

}

#name {
    font-size: 20px;
}

.searchbar-left * {
    padding-right: 10px;
}

.search-logo img {
    height: 24px;
    width: auto;
    margin-right: -10px;
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 60px 2fr 60px 2fr;
    padding-left: 20px;
    /* padding-right: 20px; */
    background-color: #e2e8f0;
    gap: 10px;
}

.project-container {
    display: grid;
    grid-row: 2/5;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.project-container * {
    background-color: white;
    border-radius: 10px;
}



.single-project {
    display: grid;
    grid-template-rows: 3fr 1fr;
    padding: 20px;
    box-shadow: 4px 4px 5px -1px rgb(180, 180, 180);
}

/* .single-project * {
    border: 1px solid;
} */

.single-project-btns {
    display: flex;
    justify-content: flex-end;
    height: 30px;
    width: auto;
}

.single-project-btns * {
    padding-left: 20px;
}

#projects {
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    font-weight: bold;
}

.announcements {
    margin-left: 20px;
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    font-weight: bold;
}

.announcement-info {
    display: grid;
    /* border: 1px solid; */
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 15px;
    box-shadow: 4px 4px 5px -1px rgb(180, 180, 180);
}

.announcement-info div {
    padding-bottom: 10px;
}

#mid-announcement {
    border: 1px solid lightgray;
    border-style: solid none;
}

.trending {
    grid-column: 2/3;
    margin-left: 20px;
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    font-weight: bold;
}

.trending-info {
    display: grid;
    grid-column: 2/3;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 0px;
    background-color: white;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-left: 15px;
    padding-top: 15px;
    margin-right: 20px;
    box-shadow: 4px 4px 5px -1px rgb(180, 180, 180);

}

.trending-profile {
    display: flex;
    /* border: 1px solid; */
    align-items: center;
}

.trending-profile .logos {
    height: 50px;
    width: 50px;
}

.trending-profile-logo {
    height: 50px;
    width: 50px;
    overflow-clip-margin: content-box;
    overflow: clip;
    border-radius: 25px;
    margin-right: 10px;
}

.trending-username {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.trending-username span:first-child {
    font-weight: bold;
}